@font-face {
  font-family: "Regular";
  src: url("../fonts/DM_Sans/static/DMSans-Regular.ttf");
}

@font-face {
  font-family: "Bold";
  src: url("../fonts//DM_Sans/static/DMSans-SemiBold.ttf");
}
@font-face {
  font-family: "light";
  src: url("../fonts/DM_Sans/static/DMSans-Light.ttf");
}

:root {
  // font-family
  --arabic-fm-r: "Regular", sans-serif;
  --arabic-fm-b: "Bold", sans-serif;
  --arabic-fm-l: "light", sans-serif;
  /* Modular scale ratio */
  --ratio: 1.2;

  /* Base font size */
  --font-p: 1rem; /* 16px base */

  /* Derived font sizes */
  --font-small: calc(var(--font-p) / var(--ratio)); /* ~13.33px */
  --font-h6: calc(var(--font-p) * var(--ratio)); /* ~19.2px */
  --font-h5: calc(var(--font-h6) * var(--ratio)); /* ~23.04px */
  --font-h4: calc(var(--font-h5) * var(--ratio)); /* ~27.65px */
  --font-h3: calc(var(--font-h4) * var(--ratio)); /* ~33.18px */
  --font-h2: calc(var(--font-h3) * var(--ratio)); /* ~39.81px */
  --font-h1: calc(var(--font-h2) * var(--ratio)); /* ~47.77px */

  /* Letter spacing (negative for large headings) */
  --space-p: 0%;
  --space-small: 0.2%;
  --space-h6: -0.5%;
  --space-h3: -1.5%;
  --space-h1: -2%;

  /* Line height */
  --line-p: 150%;
  --line-small: 140%;
  --line-h6: 140%;
  --line-h3: 120%;
  --line-h1: 100%;

  /* 8pt Grid spacing system */
  --space-mini: 4px;
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
  --space-7: 56px;
  --space-8: 64px;

  /* Colors */
  // primary color
  --primary-clr: #2daf9e; /* Primary color */
  // secondary color
  --secondary-clr: #e6f7f4; /* Secondary color */

  // accent color
  --accent-clr: #f1f5f9; /* Accent color */
  --bar-clr:#beeaf0;
  // background colors
  --body-bg-clr: #ffffff; /* Light background color */

  --border-clr: #e6eef3; /* border color */
  // text colors
  --txt-clr: #000; /* Dark text color */
  --txt-clr-light: #ffffff; /* Light background color */
  --txt-clr-gray: #94a3b8;
  --txt-clr-sec: #034047;
  // status colors
  --txt-clr-error: #ff4d4d; /* Error text color */
  --txt-clr-success: #4caf50; /* Success text color */
  --txt-clr-warning: #ff9800; /* Warning text color */
  --txt-clr-info: #2196f3; /* Info text color */
  --txt-clr-primary: #6200ea; /* Primary text color */
  --txt-clr-secondary: #03dac6; /* Secondary text color */
  --txt-clr-accent: #ff4081; /* Accent text color */
  --txt-clr-disabled: #9e9e9e; /* Disabled text color*/
  --txt-clr-placeholder: #9e9e9e; /* Placeholder text color */
  // border radius
  --border-radius-small: 6px; /* Small border radius */
  --border-radius-medium: 12px; /* Large border radius */
  --border-radius-large: 24px; /* Large border radius */
  --border-radius-very-large: 48px; /* Large border radius */
  --border-radius-circle: 50%; /* Circle border radius */
  // svg
  --svg-fill: #000; /* Default SVG fill color */
  --svg-fill-light: #ffffff; /* Light SVG fill color */
  --svg-fill-gray: #94a3b8; /* Gray SVG fill color*/
  --svg-fill-sec: #034047; /* Seen SVG fill color*/
  --svg-size: 24px;
}
@mixin center() {
  display: grid;
  place-content: center;
}
@mixin flex($ai, $jc, $fdr, $gap) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fdr;
  gap: $gap;
}
@mixin p() {
  font-size: var(--font-p);
  font-family: var(--arabic-fm-r);
  letter-spacing: var(--space-p);
  line-height: var(--line-p);
}
@mixin small() {
  font-size: var(--font-small);
  font-family: var(--arabic-fm-r);
  letter-spacing: var(--space-small);
  line-height: var(--line-small);
}
@mixin h6() {
  font-size: var(--font-h6);
  font-family: var(--arabic-fm-r);
  letter-spacing: var(--space-h6);
  line-height: var(--line-h6);
}
@mixin h5() {
  font-size: var(--font-h5);
  font-family: var(--arabic-fm-r);
  letter-spacing: var(--space-h5);
  line-height: var(--line-h5);
}
@mixin h4() {
  font-size: var(--font-h4);
  font-family: var(--arabic-fm-r);
  letter-spacing: var(--space-h4);
  line-height: var(--line-h4);
}
@mixin h3() {
  font-size: var(--font-h3);
  font-family: var(--arabic-fm-r);
  letter-spacing: var(--space-h3);
  line-height: var(--line-h3);
}
@mixin h2() {
  font-size: var(--font-h2);
  font-family: var(--arabic-fm-b);
  letter-spacing: var(--space-h2);
  line-height: var(--line-h2);
}
@mixin h1() {
  font-size: var(--font-h1);
  font-family: var(--arabic-fm-b);
  letter-spacing: var(--space-h1);
  line-height: var(--line-h1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  interpolate-size: allow-keywords !important;
  transition-behavior: allow-discrete !important;
  color: var(--txt-clr);
}
body {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  background: var(--body-bg-clr-gray);
  user-select: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}
p {
  @include p();
}
